@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    background-color: #efefef;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", sans-serif;
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

a,
a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.form-control:active,
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#calendar {
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto;
    width: 667px;
}

#calendar .fc-view-container {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
    border-radius: .25rem;
}

.fc .fc-button:not(:disabled) {
    background-color: green;
    border-color: green;
}

.fc .fc-button:not(:disabled):hover {
    background-color: darkgreen;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
    background-color: green;
    border-color: green;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 0, .5);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 0, .5);
}

.fc .fc-button-primary:focus {
    background-color: darkgreen;
    border-color: darkgreen;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 0, .5);
}

.fc-scrollgrid-sync-inner {
    padding: .25rem;
}

.fc-daygrid-day-frame {
    padding: .5rem;
}

.fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: #1e1e1e;
}

.fc-col-header, .fc .fc-daygrid-body, .fc .fc-scrollgrid-section-body table {
    width: 100% !important;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: rgb(0, 123, 0, .15);
}

.modal-backdrop {
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, .5) !important;
}

body.modal-open {
    overflow: visible !important;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end {
    color: green;
}

.fc-daygrid-event-dot {
    border: calc(8px / 2) solid green;
}

#pamphlet {
    display: block;
    max-width: 50%;
}

.modal-dialog {
    min-width: 600px;
}

.modal-body {
    max-height: 90vh;
    overflow-y: auto;
}

.card.info-card.sales-card {
    box-shadow: 0 0 30px rgba(1, 41, 112, 0.1);
}

.btn-close:focus {
    box-shadow: 0 0 0 0.25rem rgb(0, 123, 0, .25) !important;
}
