@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    font-family: 'Open Sans', sans-serif;
}

.form-control:focus {
    border-color: green !important;
    box-shadow: 0 0 0 .25rem rgba(0, 123, 0, 0.25) !important;
}

.bg-login {
    background-color: darkgreen;
    height: 100vh;
}

.back-btn:focus {
    border: none;
}
